.main_wrapper {
  background-color: #f5f5f5;
  padding: 50px;
}

 

.discount {
  display: flex;
  align-items: stretch;
  text-align: left;

  gap: 20px;
  border: 1px solid #F5752F;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}
.text_left,
.img_right {
  flex: 1 1 50%;
}


.text_left {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px;

}

.first p:nth-child(1) {
  color: #D53853;
}

.first p {
  color: #7D180C;
}

.first h1 {
  color: #621A26;
}

.first h1 span {
  color: #D53853;
}

.center {
  display: flex;
  flex-direction: column;
}

.timer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.center p {
  color: #812232;
}

.timer div h2 {
  background-color: #EA3E5B;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer span {
  color: #812232;
}

.discount button {
  color: #F5752F;
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid #F5752F;
}

.discount button:hover {
  background-color: #F5752F;
  color: white;
  transition: .3s;
}












/* RASM TOMON */
.img_right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_right img {
  height: 100% !important;
  max-width: 100%;
  min-width: 500px !important;
  /* object-fit: contain; */
}






























.arrivals {
  background: #f5f5f5;
  padding: 40px 0;
}

.arrivals-title {
  font-size: 26px;
  font-weight: 600;
  color: #d53853;
  margin-bottom: 24px;
}

.arrivals-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.arrival-card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrival-card img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

.brand {
  color: #999;
  font-size: 14px;
}

.arrival-card h3 {
  color: #621a26;
  font-size: 18px;
  margin: 8px 0;
}

.price {
  color: #9ca3af;
  font-weight: 500;
}





.section3 {
  background: #f5f5f5;
  padding: 40px 0;
  width: 100%;
  height: auto;
}





/* HEADER */
.best-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 26px;
  font-weight: 600;
  color: #f5752f;
}

/* ARROWS */
.arrows {
  display: flex;
  gap: 10px;
}

.arrows button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #f5752f;
  background: #fff;
  color: #f5752f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
}

.arrows button:hover {
  background: #f5752f;
  color: #fff;
}



@media screen and (max-width: 870px){
    .main_wrapper{
 padding:  20px;

    }
   
}

@media screen and (max-width: 570px){
    .arrival-card{
      padding: 7px;
    }
    .arrivals-grid{
      display: flex;
      flex-direction: column;
    }
}