.main_home{
  width: 100%;
  background-color: #fff;
}
.home-products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}

.home-products > * {
  flex: 0 0 calc(50% - 5px); 
}


@media (min-width: 900px) {
  .home-products > * {
    flex: 0 0 calc(25% - 10px);
  }
}


@media (max-width: 480px) {
  .home-products {
    padding: 10px;
    gap: 8px;
  }

  .home-products > * {
    flex: 0 0 calc(50% - 4px);
  }
}


@media (max-width: 360px) {
  .home-products {
    padding: 6px;
    gap: 6px;
  }

  .home-products > * {
    flex: 0 0 calc(50% - 3px);
  }
}
