/* WRAP */
.pz-wrap {
    display: flex;
    gap: 20px;
    padding: 30px;
}

/* ================= THUMBS ================= */
.pz-thumbs {
    display: flex;
    flex-direction: column;
    height: 420px;
    overflow-y: auto;
    padding-right: 6px;
    background-color: #f5f5f5;
    height: 350px;
    border-radius: 5px;
    padding: 5px;
}

/* bitta kartinkalar bloki */
.kartinkas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* thumb rasmlar */
.kartinkas img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

.kartinkas img.active,
.kartinkas img:hover {
    opacity: 1;
    border: 2px solid #f5752f;

}

/* SCROLL */
.pz-thumbs::-webkit-scrollbar {
    width: 6px;
}

.pz-thumbs::-webkit-scrollbar-thumb {
    background: #f5752f;
    border-radius: 10px;
    padding: 5px;
}




/* ================= MAIN ================= */
.pz-main {
    position: relative;
    width: 100%;
    height: 350px;
    background: #111;
    border-radius: 14px;
    overflow: hidden;
    cursor: zoom-in;
    background-color: transparent;
}

.pz-main img {
    width: 100%;
    height: 100%;
    min-height: 100% !important;
    object-fit: contain;
    transition: transform 0.15s ease;
}

/* HOVER ZOOM */
.pz-main:hover img {
    transform: scale(2.4);
}

/* ================= ARROWS ================= */
.pz-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pz-arrow.left {
    left: 10px;
}

.pz-arrow.right {
    right: 10px;
}

.pz-arrow:hover {
    background: #f5752f;
}

/* ================= MODAL ================= */
.pz-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.pz-modal img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.pz-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
}

.pz-modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    border: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pz-modal-arrow.left {
    left: 40px;
}

.pz-modal-arrow.right {
    right: 40px;
}

.pz-modal-arrow:hover {
    background: #f5752f;
}



@media (max-width: 500px) {
  .pz-wrap{
    padding: 10px;
  }

}