header{
    background-color: #f5752f;
 width: 100%;
 height: 31px;
 padding: 0 50px;
 
}
.header{
    background-color: #f5752f;
    text-align: center;
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 height: 31px;
 
}
.header__info{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.header__info p{
    display: flex;
    align-items: center;
    gap: 10px;

}
@media screen and (max-width:1200px) {
    header{
      font-size: 14px;
    }
}

@media screen and (max-width: 870px){
    header{
 padding: 0 10px;

    }
}
@media screen and (max-width: 770px){
    .header{
        font-size: 12px;
       display: flex;
       align-items: center;
    }
    .header span{
        display: none;
    }
    .header__info{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}