.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-top: 1px solid #eee;
  display: none;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.bn-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  color: #999;
  text-decoration: none;
  background: transparent; /* MUHIM */
}

.bn-item svg {
  font-size: 22px;
  margin-bottom: 2px;
}

.bn-item.active {
  color: #f5752f;
}

/* Badge */
.cart-icon-wrapper {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
}

/* FAQAT MOBILE */
@media (max-width: 900px) {
  .bottom-nav {
    display: flex;
  }
}

@media (max-width: 500px) {
  .bottom-nav {
    width: 100%;
    gap: 10px;
  }
}
