.footer {
    background: #f5f5f5;
    padding: 0 50px;
    width: 100%;
    background: #9e2b3f;

}

/* TOP INFO */
.footer-top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 0;
    
}

.info-card {
    display: flex;
    gap: 12px;
    border: 1px solid #f5752f;
    border-radius: 10px;
    padding: 15px;
    color: #f5752f;
}

.info-card h4 {
    font-size: 14px;
}

.info-card p {
    font-size: 12px;
    color: #999;
}

/* MAIN FOOTER */
.footer-main {
    background: #9e2b3f;
    color: #fff;
    padding: 40px 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo h2 {
    font-size: 24px;
}

.socials {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.socials svg {
    cursor: pointer;
}

.footer-links {
  gap: 25px;
  list-style: none;
  font-size: 14px;
  display: flex;
}
.hhhhhhhha{
  display: flex !important;
}

.footer-links li {
    cursor: pointer;
}

/* BOTTOM */
.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
    font-size: 13px;
    opacity: 0.8;
}


@media screen and (max-width: 1024px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content {
    /* flex-direction: column; */
    gap: 25px;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
  }
}



@media screen and (max-width: 768px) {
  .footer {
    padding: 0 10px;
  }

 

  .info-card {
    justify-content: center;
    text-align: center;
  }

  .info-card svg {
    font-size: 22px;
  }

  .footer-links {
    flex-wrap: wrap;
    gap: 15px;
  }
}
@media screen and (max-width: 550px){
 .footer-top {
    grid-template-columns: 1fr;
  }
  .footer-content {
    /* flex-direction: column; */
    gap: 20px;
  }

}

@media screen and (max-width: 370px) {
  .footer {
    padding: 0 12px;
  }

  .footer-top {
    padding: 20px 0;
    gap: 12px;
  }

  .info-card {
    flex-direction: column;
    gap: 8px;
    padding: 12px;
  }
  .footer-content{
    justify-content: space-evenly;
  }

  .info-card h4 {
    font-size: 13px;
  }
  
  .info-card p {
    font-size: 11px;
  }

  .footer-logo h2 {
    font-size: 20px;
  }

  .socials {
    justify-content: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    align-items: start;
    gap: 10px;
    font-size: 13px;

  }

  .footer-bottom {
    font-size: 11px;
    padding-top: 10px;
  }
}
