#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  /* place-items: center; */
}
 
.container{
  max-width: 1300px;
  margin: 0 auto;      /* ikkala chekkadan teng */


}
.app{
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}