*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Varela Round", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
:root {
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body {
  font-family: "Varela Round", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  margin: 0; 
  padding: 0;
}


input{
    font-family: "Varela Round", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
}
 






/* Telefonlarda ko‘k highlight chiqmasin */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Text va rasm tanlanmasin */
img, a, button, svg {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Bosganda ko‘k fon chiqmasin */
button, a {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
