
.slider {
    position: relative;
    width: 100%;
    height: 360px;
    overflow: hidden;
}


.slider__track {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease;
}

.slider__slide {
    min-width: 100%;
    height: 100%;
}

.slider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    padding: 0;

    line-height: 0;      
}
.slider__btn {
 
  border: 1px solid #f5752f;
  background: transparent;
  color: #f5752f;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff;
}

.slider__btn:hover {
  background: #f5752f;
  color: #fff;
}


.slider__btn.left {
    left: 50px;
    color: #f5752f;
    font-size: 30px;
}

.slider__btn.right {
    right: 50px;
    color: #f5752f;
    font-size: 30px;
}
.slider__btn.left:hover {
 color: white;
 background-color:#f5752f;
}

.slider__btn.right:hover {
 color: white;
 background-color:#f5752f;
}


.slider__dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    background: #fff;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    width: 18px;
    border-radius: 6px;
    opacity: 1;
    background-color: #f5752f;
}
@media screen and (max-width: 870px){
    .slider__btn.left {
    left: 20px;
}

.slider__btn.right {
    right: 20px;
}
}

@media (max-width: 768px) {
    .slider {
        height: 220px;
    }
}